.div {
  overflow: hidden;
  white-space: nowrap;
  max-width: 700px;
  text-overflow: ellipsis;
}

.link {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.status {
  font-weight: normal;
  word-break: keep-all;
}
