.boxList {
  overflow: hidden;
  white-space: nowrap;
  max-width: calc(100% - 45px);
  text-overflow: ellipsis;
}

.boxSelected {
  overflow: hidden;
  white-space: nowrap;
  max-width: calc(100% - 65px);
  text-overflow: ellipsis;
}

.link {
  font-size: var(--mantine-font-size-lg);
  font-weight: 500;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
